@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}



@utility gradient {
    @apply bg-gradient-to-r from-green-400 to-green-700
}

@utility gradient2 {
    @apply bg-gradient-to-r from-amber-400 to-green-500;
}


@layer components {

    #main_nav li,
    #second_nav li {
        @apply py-3;
    }

    .row1 {
        @apply grid gap-2.5 grid-cols-2;
    }

    .student-info {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 4px;
    }

    .student-info td {
        padding: 5px;
    }

    .grading-scale{
        @apply rounded-md border-1 border-[#ccc];
    }
    .grading-scale table {
        width: 100%;
        border-collapse: collapse;

    }

    .grading-scale th,
    .grading-scale td {
        border-bottom: 1px solid #ccc;
        padding: 6px;
        text-align: center;
    }

    


    .row2 {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
    }

    

    .courses table {
      width: 100%;
      border-collapse: collapse;
    }
    .courses th, .courses td {
      border-bottom: 1px solid #ccc;
      padding: 6px;
      text-align: center;
    }

    .search_button{
        @apply bg-amber-400 flex p-4 text-white
    }
}